# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual envs
venv/
.env

# MLflow local tracking dir (can be large)
mlruns/

# Jupyter junk
.ipynb_checkpoints/

# Git
.git
.gitignore

# OS & editor
.DS_Store
.vscode/

# Big data folders (if you add later)
data/
